/Fundora.Hangman/CircleImageCropper/obj
/Fundora.Hangman/Fundora.Hangman/obj
/Fundora.Hangman/Fundora.Hangman/bin
/Fundora.Hangman/SharedCode/obj

Fundora.Hangman/Fundora.Hangman.v12.suo
/Fundora.Hangman/BaseGameUtils/obj
